## Step 3: Try out a few commands

In [1]:
#!python utilities/build_ltr.py -h

In [2]:
# For every click associated with 'canon rebel' retrieve the doc from opensearch and display 
#!python utilities/build_ltr.py --lookup_query "canon rebel" --all_clicks /workspace/datasets/train.csv > canon_rebel.out

In [3]:
# retrieve a specific SKU from opensearch
#!python utilities/build_ltr.py --lookup_product 1980124

## Exploration

In [4]:
import pandas as pd

df = pd.read_csv('/workspace/datasets/train.csv', parse_dates=['query_time', 'click_time'])

In [5]:
df.head()

,user,sku,category,query,click_time,query_time
0,000000df17cd56a5df4a94074e133c9d4739fae3,2125233,abcat0101001,Televisiones Panasonic 50 pulgadas,2011-09-01 23:44:52.533,2011-09-01 23:43:59.752
1,000001928162247ffaf63185cd8b2a244c78e7c6,2009324,abcat0101001,Sharp,2011-09-05 12:25:37.420,2011-09-05 12:25:01.187
2,000017f79c2b5da56721f22f9fdd726b13daf8e8,1517163,pcmcat193100050014,nook,2011-08-24 12:56:58.910,2011-08-24 12:55:13.012
3,000017f79c2b5da56721f22f9fdd726b13daf8e8,2877125,abcat0101001,rca,2011-10-25 07:18:14.722,2011-10-25 07:16:51.759
4,000017f79c2b5da56721f22f9fdd726b13daf8e8,2877134,abcat0101005,rca,2011-10-25 07:19:51.697,2011-10-25 07:16:51.759

In [6]:
df[(df['query']== 'canon rebel')]

,user,sku,category,query,click_time,query_time
33221,04951ebb1a7e746818724a0f28b34ff9234fd530,1980124,pcmcat180400050000,canon rebel,2011-09-14 23:44:54.365,2011-09-14 23:44:28.785
33222,04951ebb1a7e746818724a0f28b34ff9234fd530,1987075,pcmcat180400050000,canon rebel,2011-09-14 23:48:05.669,2011-09-14 23:44:28.785
40451,059302a198e7f3885d20287a8c6c2dd732927837,1980124,pcmcat180400050000,canon rebel,2011-09-13 14:17:12.088,2011-09-13 14:14:40.820
42302,05d78e8ec5470b0c2aa5a25f492ad42e8ee99cbf,9778635,pcmcat180400050000,canon rebel,2011-09-03 12:23:38.027,2011-09-03 12:20:23.015
42303,05d78e8ec5470b0c2aa5a25f492ad42e8ee99cbf,2809771,pcmcat209000050008,canon rebel,2011-09-03 12:25:09.438,2011-09-03 12:20:23.015
...,...,...,...,...,...,...
1818557,f98fceb72864faa9b458c7fa978933484806fec4,9778635,pcmcat180400050000,canon rebel,2011-10-21 19:52:10.725,2011-10-21 19:52:02.767
1832425,fb78115c25c7e2736988d924244d7281c416a223,1987075,pcmcat180400050000,canon rebel,2011-10-30 19:17:10.433,2011-10-30 19:16:25.211
1841352,fcb559880e0ebbafb6df535dcac2aabf2fa944f4,1980124,pcmcat180400050000,canon rebel,2011-10-22 19:51:19.397,2011-10-22 19:46:52.303
1861777,ff86145c6fd70e3fbec7e9ebb815675b39a99154,1980124,pcmcat180400050000,canon rebel,2011-09-04 10:34:38.353,2011-09-04 10:33:51.452
1861778,ff86145c6fd70e3fbec7e9ebb815675b39a99154,8758114,pcmcat233000050008,canon rebel,2011-09-04 10:36:11.038,2011-09-04 10:33:51.452

In [7]:
len(df)

1865269

In [8]:
df['query'].value_counts()

lcd tv                                     16522
2622037 2127204 2127213 2121716 2138291     8531
Hp touchpad                                 7390
iPad                                        5803
hp touchpad                                 5615
                                           ...
Modus                                          1
800 watt kickers                               1
Epic otterbox                                  1
converter compacitor                           1
ttv                                            1
Name: query, Length: 257860, dtype: int64

In [9]:
gb = df.groupby('query')
gb.get_group('ipad').count() # 5036 clicks received by ipad query

user          5036
sku           5036
category      5036
query         5036
click_time    5036
query_time    5036
dtype: int64

In [10]:
gb.get_group('canon rebel').count()

user          116
sku           116
category      116
query         116
click_time    116
query_time    116
dtype: int64

In [11]:
df[df.category == 'abcat0101001'] # Get all the queries from a given category

,user,sku,category,query,click_time,query_time
0,000000df17cd56a5df4a94074e133c9d4739fae3,2125233,abcat0101001,Televisiones Panasonic 50 pulgadas,2011-09-01 23:44:52.533,2011-09-01 23:43:59.752
1,000001928162247ffaf63185cd8b2a244c78e7c6,2009324,abcat0101001,Sharp,2011-09-05 12:25:37.420,2011-09-05 12:25:01.187
3,000017f79c2b5da56721f22f9fdd726b13daf8e8,2877125,abcat0101001,rca,2011-10-25 07:18:14.722,2011-10-25 07:16:51.759
19,0000c4e9d7075985d1020c456e7ce36f83f834eb,2126065,abcat0101001,Samsung 40,2011-09-28 17:27:11.184,2011-09-28 17:26:15.832
40,00017f7beeac02736c0ce7bf1e75f3010939b34e,1831054,abcat0101001,lcd tv,2011-09-28 07:26:32.153,2011-09-28 07:26:21.476
...,...,...,...,...,...,...
1865071,fff7afecf87f8043ce4b4fcbd8ed47d7ffd52679,2620821,abcat0101001,lcd tv,2011-10-16 11:13:30.233,2011-10-16 11:13:25.858
1865077,fff7edfacf2c376fa8ea4f637c33013d057ae70a,1854328,abcat0101001,goldeneye movie,2011-09-20 18:25:30.494,2011-09-20 18:25:16.548
1865119,fff97c95234212c39d6f04c9854fa94d94bc0cce,1854819,abcat0101001,2622037 2127204 2127213 2121716 2138291,2011-10-08 07:00:01.108,2011-10-08 06:56:16.829
1865190,fffc750c85c62fe732b8223d5872be6e0fc03593,2262074,abcat0101001,Pn51d8000,2011-10-24 18:15:10.270,2011-10-24 18:15:05.628
1865224,fffd4ebf04febc87ca4b34c730c78d7bf1bef564,2620821,abcat0101001,Infinity,2011-10-19 21:20:40.308,2011-10-19 21:20:15.504

In [12]:
df.sample(n=10, random_state=42) # take a random subsample

,user,sku,category,query,click_time,query_time
179278,18bc15e4a79c0937f7382f313982c81fdd9fc6b8,2047614,abcat0101001,led tv,2011-10-15 17:47:45.522,2011-10-15 17:46:16.124
88258,0c22fa250a43ee4ef987b80e72ffce52de2eec48,2799036,pcmcat144700050004,Gaga,2011-09-28 07:50:35.578,2011-09-28 07:50:26.465
1591216,da6032865bcd5c1071b59df4fb4579eeb7c13c71,1083245,pcmcat209400050001,iPhone sprint,2011-10-26 00:29:03.362,2011-10-26 00:25:23.408
376560,33d2af53a667cfc0f99f9472f1b9a1b6459a8293,3590335,pcmcat247400050000,gateway,2011-10-21 09:20:11.791,2011-10-21 09:16:21.450
603048,52e9d4ca3c158f153145229e932c3fa87748a9c9,9755322,pcmcat247400050001,Apple,2011-09-15 01:42:06.956,2011-09-15 01:40:59.762
1842827,fcebae29eee00553aa3cadbed05bec4df8717798,3641471,pcmcat247400050000,Sony vio,2011-10-15 22:46:36.046,2011-10-15 22:45:16.121
438471,3c4e2a7312e09dadef3c361a0a2b1ab7c62d961e,2589083,abcat0513001,linksys wireless n PCI adapter,2011-09-12 11:37:38.149,2011-09-12 11:36:48.855
1094382,9641b17e056f6dbcfc623dd6402f227fdcda2a17,4173405,cat02661,shrek,2011-10-19 21:37:18.645,2011-10-19 21:36:36.184
369735,32e6e63400bfe32247595842f18812d82c5a506b,1290689,pcmcat171900050028,ifrogz,2011-10-21 22:46:52.792,2011-10-21 22:45:23.652
1021866,8c6750f3422ab8f4fe0d6d7dad7bd8b34d30b2f0,1552086,pcmcat167300050040,Sound bar,2011-10-03 16:41:23.181,2011-10-03 16:38:31.996

Copy over some SKU filtering data so we don’t use garbage values. This was run using `build_ltr –verify_products

In [13]:
# Determine the number of clicks for this sku given a query (represented by the click group)

In [14]:
sdf = df.sample(100, random_state=42)

In [15]:
# Looks through all SKUs in --all_clicks and reports the ones that aren't in the index.
#!mkdir /workspace/ltr_output && cp ../data/validity.csv /workspace/ltr_output/

## LTR End to End

LTR end to end
1. Creates an ltr store `python week2/utilities/build_ltr.py --create_ltr_store`. Create the new store at https://localhost:9200/_ltr/week2 response status: 200
2. Uploads featureset` python week2/utilities/build_ltr.py -f week2/conf/ltr_featureset.json --upload_featureset`. Installing week2/conf/ltr_featureset.json featureset at https://localhost:9200/_ltr/week2/_featureset/bbuy_main_featureset
3. Creating training and test data sets from impressions by splitting on dates `+ python week2/utilities/build_ltr.py --output_dir /workspace/ltr_output --split_input /workspace/datasets/train.csv --split_train_rows 1000000 --split_test_rows 1000000`. This creates train/test split from train.csv and send it /workspace/ltr_output. Also adds validity.csv that checks for document clicked in the index and emits a csv with sku, status(0|1)
4. Creates impressions data `+ python week2/utilities/build_ltr.py --generate_impressions --output_dir /workspace/ltr_output --train_file /workspace/ltr_output/train.csv` --synthesize

``` #
    # Impressions are candidate queries with *simulated* ranks added to them as well as things like number of impressions
    # and click counts.  Impressions are what we use to then generate training data.  In the real world, you wouldn't
    # need to do this because you would be logging both clicked and unclicked events.
    # TLDR: we are trying to build a dataset that approximates what Best Buy search looked like back when this data was captured.
    # We have two approaches to impressions:
    # 1) We synthesize/infer them from the existing clicks, essentially assuming there is a built in position bias in the logs that *roughly* approximates the actual ranking of Best Buy search
    #    back when this data was captured.  Run using --generate_impressions and --synthesize
    # 2) Taking --generate_num_rows, run a random sample of queries through our current search engine.  If we find docs that have clicks, mark them as relevant.  All else are non-relevant.
    # Both approaches add rank, clicks and num_impressions onto the resulting data frame
    # We also dump out a map of queries to query ids.  Query ids are used in our XGB model.
    # Outputs to --output_dir using the --impressions_file argument, which defaults to impressions.csv
```

In [16]:
!ls /workspace/ltr_output

features.csv	 query_to_query_ids.json  training.xgb	    xgb-feat-map.txt
impressions.csv  test.csv		  training.xgb.csv
meta.txt	 train.csv		  validity.csv

In [17]:
df = pd.read_csv('/workspace/ltr_output/impressions.csv')

In [18]:
df.sample(n=10)

,query,sku,clicks,rank,num_impressions,doc_id,product_name,query_id
2739,Nintendo ds,1824267,30,1.0,133,1824267,fake,1032
5032,canon 7d,9491935,35,1.0,65,9491935,fake,1852
6489,just dance,1550158,22,1.0,62,1550158,fake,2390
7816,sony bravia,2072076,11,4.0,134,2072076,fake,2895
4058,Tv,1854221,16,8.0,1091,1854221,fake,1524
1056,Detox,2074648,19,1.0,24,2074648,fake,403
8684,xbox console,2873059,22,2.0,120,2873059,fake,3197
5886,headphones,9492426,58,2.0,1102,9492426,fake,2201
3737,Subwoofer,8699704,19,3.0,435,8699704,fake,1403
3867,Thor,3103247,963,1.0,1769,3103247,fake,1453

In [19]:
x = gb.get_group('xbox headset')

In [20]:
x

,user,sku,category,query,click_time,query_time
34582,04c6fa4abebf00cbff2e6b3770f7d357aafe1fc2,3512108,pcmcat147700050012,xbox headset,2011-10-14 02:20:47.493,2011-10-14 02:20:11.746
46577,06681c697d75e4206b2ccb05a99a279cf18e9c8b,3674224,pcmcat247400050000,xbox headset,2011-10-24 21:05:19.706,2011-10-24 21:01:30.683
51357,070e6d5d2d3d91b560936f7b632d32afc3c76ea8,3354584,pcmcat147700050012,xbox headset,2011-09-29 05:21:31.839,2011-09-29 05:20:27.848
65765,090e143e371dc28740fd30d20d546ffbb493668b,1251178,pcmcat230800050019,xbox headset,2011-09-23 14:31:09.177,2011-09-23 14:29:39.577
86171,0bd7a0955463cdccec56e0550eb885345a2ebb50,7457566,pcmcat230800050019,xbox headset,2011-08-16 18:29:13.311,2011-08-16 18:28:14.451
...,...,...,...,...,...,...
1674864,e5c03392970eb0f765375ab87fb052f054659cce,3512108,pcmcat147700050012,xbox headset,2011-10-12 15:49:44.220,2011-10-12 15:48:32.507
1708699,ea5a7f1caa651dc497c9f17a387285d7cf670772,7457566,pcmcat230800050019,xbox headset,2011-09-20 10:27:51.407,2011-09-20 10:26:34.997
1714638,eb25f0523f6e2e503858acff00b933bfbe75067a,3302112,pcmcat147700050012,xbox headset,2011-10-25 17:56:01.678,2011-10-25 17:55:13.981
1714639,eb25f0523f6e2e503858acff00b933bfbe75067a,9466124,pcmcat230800050019,xbox headset,2011-10-25 17:56:37.749,2011-10-25 17:55:13.981
1753630,f0865cc86d53192f865e6ad2b69c943e772ed517,9824298,pcmcat230800050019,xbox headset,2011-08-17 21:56:55.039,2011-08-17 21:54:48.576

### SLTR query for logging features

```
GET /bbuy_products/_search
{
  "query": {
    "bool": {
      "filter": [
        {
          "terms": {
            "_id": [
              "7457566",
              "9824298"
            ]
          }
        },
        {
          "sltr": {
            "_name": "logged_featureset",
            "featureset": "bbuy_main_featureset",
            "store": "week2",
            "params": {
              "keywords": "xbox headset"
            }
          }
        }
      ]
    }
  },
  "ext": {
    "ltr_log": {
      "log_specs": {
        "name": "log_entry",
        "named_query": "logged_featureset"
      }
    }
  }
}
```

In [21]:
import ltr_utils as lu
import data_prepper as dp

In [22]:
gb = df.groupby("query")

In [23]:
keys = [k for k in gb.groups.keys()]

In [24]:
g = gb.get_group('xbox headset')

In [25]:
g

,query,sku,clicks,rank,num_impressions,doc_id,product_name,query_id
8689,xbox headset,7457566,15,1.0,53,7457566,fake,3201
8690,xbox headset,9824298,10,2.0,53,9824298,fake,3201

In [26]:
g.doc_id.values

array([7457566, 9824298])

In [27]:
g[:1]['query_id']

8689    3201
Name: query_id, dtype: int64

In [28]:
g.doc_id.values

array([7457566, 9824298])

In [29]:
import query_utils as qu
click_prior_query = qu.create_prior_queries_from_group(g)

In [30]:
click_prior_query

'7457566^15.000  9824298^10.000  '

In [31]:
def create_feature_log_query(query, doc_ids, click_prior_query, featureset_name, ltr_store_name, size=200, terms_field="_id"):
    feature_log_query = {"size": size,
      "query": {
        "bool": {
          "filter": [
            {
              "terms": {
                terms_field: doc_ids
              }
            },
            {
              "sltr": {
                "_name": "logged_featureset",
                "featureset": featureset_name,
                "store": ltr_store_name,
                "params": {
                  "keywords": query
                }
              }
            }
          ]
        }
      },
      "ext": {
        "ltr_log": {
          "log_specs": {
            "name": "log_entry",
            "named_query": "logged_featureset"
          }
        }
      }
    }

    return feature_log_query

In [32]:
from pprint import pprint

In [33]:
pprint(create_feature_log_query('xbox headset', ['7457566', '9824298'], None, 'bbuy_main_featureset', 'week2'))

{'ext': {'ltr_log': {'log_specs': {'name': 'log_entry',
                                   'named_query': 'logged_featureset'}}},
 'query': {'bool': {'filter': [{'terms': {'_id': ['7457566', '9824298']}},
                               {'sltr': {'_name': 'logged_featureset',
                                         'featureset': 'bbuy_main_featureset',
                                         'params': {'keywords': 'xbox headset'},
                                         'store': 'week2'}}]}},
 'size': 200}

In [34]:
sltr=create_feature_log_query('xbox headset', ['7457566', '9824298'], None, 'bbuy_main_featureset', 'week2')

In [35]:
index_name='bbuy_products'

### Extract features out of the SLTR Query

From the json, extract and load the features as list(dict).

In [36]:
from opensearchpy import OpenSearch

# Create an OpenSearch client instance and put it into Flask shared space for use by the application
def get_opensearch():
    if 'opensearch' not in g:
        # Load from config?
        host = 'localhost'
        port = 9200
        auth = ('admin', 'admin')  # For testing only. Don't store credentials in code.

        g.opensearch = OpenSearch(
            hosts=[{'host': host, 'port': port}],
            http_compress=True,  # enables gzip compression for request bodies
            http_auth=auth,
            # client_cert = client_cert_path,
            # client_key = client_key_path,
            use_ssl=True,
            verify_certs=False, # set to true if you have certs
            ssl_assert_hostname=False,
            ssl_show_warn=False,

        )

    return g.opensearch

In [37]:
cli=get_opensearch()

In [104]:
resp=cli.search(sltr, index_name)

In [154]:
hits=resp['hits']['hits'];hits[0]['_source']['sku'][0], hits[0]['_id']

('7457566', '7457566')

In [148]:
features_list = []
for hit in resp['hits']['hits']:
    entry = hit['fields']['_ltrlog'][0]['log_entry']
    print(entry)
    d = {item['name']: item.get('value', None) for item in entry}
    features_list.append(d)

[{'name': 'name_match', 'value': 14.781552}, {'name': 'name_phrase_match'}, {'name': 'name_hyphens_min_df', 'value': 771.0}, {'name': 'salePrice', 'value': 19.99}, {'name': 'regularPrice', 'value': 19.99}]
[{'name': 'name_match', 'value': 9.714259}, {'name': 'name_phrase_match'}, {'name': 'name_hyphens_min_df', 'value': 771.0}, {'name': 'salePrice', 'value': 49.99}, {'name': 'regularPrice', 'value': 49.99}]

In [144]:
features_list

[{'name_match': 14.781552,
  'name_phrase_match': None,
  'name_hyphens_min_df': 771.0,
  'salePrice': 19.99,
  'regularPrice': 19.99},
 {'name_match': 9.714259,
  'name_phrase_match': None,
  'name_hyphens_min_df': 771.0,
  'salePrice': 49.99,
  'regularPrice': 49.99}]

In [146]:
df = pd.DataFrame.from_records(features_list)

In [147]:
df

   name_match name_phrase_match  name_hyphens_min_df  salePrice  regularPrice
0   14.781552              None                771.0      19.99         19.99
1    9.714259              None                771.0      49.99         49.99

In [124]:
o = resp['hits']['hits'][0]['fields']['_ltrlog'][0]['log_entry'];o

[{'name': 'name_match', 'value': 14.781552},
 {'name': 'name_phrase_match'},
 {'name': 'name_hyphens_min_df', 'value': 771.0},
 {'name': 'salePrice', 'value': 19.99},
 {'name': 'regularPrice', 'value': 19.99}]

In [130]:
o1 = resp['hits']['hits'][1]['fields']['_ltrlog'][0]['log_entry'];o1

[{'name': 'name_match', 'value': 9.714259},
 {'name': 'name_phrase_match'},
 {'name': 'name_hyphens_min_df', 'value': 771.0},
 {'name': 'salePrice', 'value': 49.99},
 {'name': 'regularPrice', 'value': 49.99}]

In [134]:
d = {item['name']: [item.get('value', None)] for item in o }; d

{'name_match': [14.781552],
 'name_phrase_match': [None],
 'name_hyphens_min_df': [771.0],
 'salePrice': [19.99],
 'regularPrice': [19.99]}

In [136]:
df = pd.DataFrame(d);df

   name_match name_phrase_match  name_hyphens_min_df  salePrice  regularPrice
0   14.781552              None                771.0      19.99         19.99

In [116]:
from nbdev.showdoc import show_doc

In [84]:
log_entries

(#2) [[- log_entry:
  -
    - name: name_match
    - value: 14.781552
  -
    - name: name_phrase_match
  -
    - name: name_hyphens_min_df
    - value: 771.0
  -
    - name: salePrice
    - value: 19.99
  -
    - name: regularPrice
    - value: 19.99],[- log_entry:
  -
    - name: name_match
    - value: 9.714259
  -
    - name: name_phrase_match
  -
    - name: name_hyphens_min_df
    - value: 771.0
  -
    - name: salePrice
    - value: 49.99
  -
    - name: regularPrice
    - value: 49.99]]

In [81]:
feature_entry

(#2) [[{'log_entry': [{'name': 'name_match', 'value': 14.781552}, {'name': 'name_phrase_match'}, {'name': 'name_hyphens_min_df', 'value': 771.0}, {'name': 'salePrice', 'value': 19.99}, {'name': 'regularPrice', 'value': 19.99}]}],[{'log_entry': [{'name': 'name_match', 'value': 9.714259}, {'name': 'name_phrase_match'}, {'name': 'name_hyphens_min_df', 'value': 771.0}, {'name': 'salePrice', 'value': 49.99}, {'name': 'regularPrice', 'value': 49.99}]}]]

In [39]:
from fastcore.utils import dict2obj, obj2dict, AttrDict

In [40]:
d = dict2obj(resp)

In [41]:
o = d.hits.hits[0].fields._ltrlog[0].log_entry

In [42]:
obj2dict(o)

[{'name': 'name_match', 'value': 14.781552},
 {'name': 'name_phrase_match'},
 {'name': 'name_hyphens_min_df', 'value': 771.0},
 {'name': 'salePrice', 'value': 19.99},
 {'name': 'regularPrice', 'value': 19.99}]

In [43]:
import pandas as pd

In [44]:
pd.DataFrame()

Empty DataFrame
Columns: []
Index: []

In [45]:
pd.DataFrame()

Empty DataFrame
Columns: []
Index: []

In [46]:
entry = [hit.fields._ltr_log.log_entry for hit in d.hits]

AttributeError: 'str' object has no attribute 'fields'